{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% comment %}

  Side navigation for the product types, vendors, and tags.
  These can be based on the current collection or all products. Details in comments below.

  Note: Clicking on a tag will filter the products within the current collection.
  Clicking on a type or vendor link will take you out of the current collection
  to a standalone collection page. E.g. /collections/vendors?q=Pepsi

{% endcomment %}

{% unless section.settings.collection_custom_nav_list == blank or section.settings.collection_custom_nav_list.empty? %}
  {% assign custom_nav_list = section.settings.collection_custom_nav_list | handleize %}
  <h5>{% comment %}ly_code_replace_for_[ linklists[custom_nav_list].title ]_begin{% endcomment %}{% include 'ly-title' with linklists[custom_nav_list] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h5>
  <ul class="collection-nav accessibleNav">
    {% for link in linklists[custom_nav_list].links %}
      {% if link.links != blank %}
        <li {% if link.active %}class="collection-nav--active"{% endif %} aria-haspopup="true">
          <a href="{{ link.url }}">{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
          <ul class="collection-nav--child">
            {% for childlink in link.links %}
              <li {% if childlink.active %}class="collection-nav--active"{% endif %}><a href="{{ childlink.url }}">{% comment %}ly_code_replace_for_[ childlink.title | escape ]_begin{% endcomment %}{% include 'ly-title' with childlink %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li {% if link.active %}class="collection-nav--active"{% endif %}>
          <a href="{{ link.url }}">{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endunless %}

{% if section.settings.collection_standard_nav %}
  {% if collections.size > 1 %}
    <h5>{% comment %}ly_i18n_replace_for_[ 'collections.sidebar.collections' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.sidebar.collections' | t }}{% endcapture %}{% include 'ly-static-string' with '16756498' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h5>
    <ul class="collection-nav">
      <li {% unless collection.id %}class="collection-nav--active"{% endunless %}>
        <a href="/collections/all">{% comment %}ly_i18n_replace_for_[ 'collections.sidebar.all_collections' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.sidebar.all_collections' | t }}{% endcapture %}{% include 'ly-static-string' with '16756499' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
      </li>
      {% for collection_link in collections %}
        {% unless collection_link.handle == 'frontpage' %}
          <li {% if collection.handle == collection_link.handle %}class="collection-nav--active"{% endif %}>
            <a href="/collections/{{ collection_link.handle }}">{% comment %}ly_code_replace_for_[ collection_link.title ]_begin{% endcomment %}{% include 'ly-title' with collection_link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
  {% endif %}
{% endif %}

{% if section.settings.collection_type_nav %}
  {% if collection.all_types.size > 0 %}
	<!-- Pascal Evano changes: quit Titulo/sidebar-->
    <!--<h5>{% comment %}ly_i18n_replace_for_[ 'collections.sidebar.types' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.sidebar.types' | t }}{% endcapture %}{% include 'ly-static-string' with '16756500' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h5>-->
	<!-- End Pascal Evano changes -->
    <ul class="collection-nav">
      <li {% unless collection.current_type %}class="collection-nav--active"{% endunless %}>
        <a href="/collections/all">{% comment %}ly_i18n_replace_for_[ 'collections.sidebar.all_types' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.sidebar.all_types' | t }}{% endcapture %}{% include 'ly-static-string' with '16756501' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
      </li>
      {% for type in collection.all_types %}
        {% capture typeString %}{{ type | link_to_type }}{% endcapture %}
        {% unless typeString == 'Unknown Type' %}
          {% if collection.current_type == type %}
            <li class="collection-nav--active">
              {{ type | link_to_type }}
            </li>
          {% else %}
            <li>
              {{ type | link_to_type }}
            </li>
          {% endif %}
        {% endunless %}
      {% endfor %}
    </ul>
  {% endif %}
{% endif %}

{% if section.settings.collection_vendor_nav %}
  {% if collection.all_vendors.size > 0 %}
    <h5>{% comment %}ly_i18n_replace_for_[ 'collections.sidebar.vendors' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.sidebar.vendors' | t }}{% endcapture %}{% include 'ly-static-string' with '16756502' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h5>
    <ul  class="collection-nav">
      <li {% unless collection.current_vendor %}class="collection-nav--active"{% endunless %}>
        <a href="/collections/all">{% comment %}ly_i18n_replace_for_[ 'collections.sidebar.all_vendors' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.sidebar.all_vendors' | t }}{% endcapture %}{% include 'ly-static-string' with '16756503' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
      </li>
      {% for vendor in collection.all_vendors %}
        {% if collection.current_vendor == vendor %}
          <li class="collection-nav--active">
            {{ vendor | link_to_vendor }}
          </li>
        {% else %}
          <li>
            {{ vendor | link_to_vendor }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endif %}


{% if section.settings.collection_tag_nav %}
  {% if collection.all_tags.size > 0 %}
    <h5>{% comment %}ly_i18n_replace_for_[ 'collections.sidebar.tags' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.sidebar.tags' | t }}{% endcapture %}{% include 'ly-static-string' with '16756504' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h5>
    <ul class="collection-nav">
      <li {% unless current_tags %}class="collection-nav--active"{% endunless %}>
        {% capture first_tag %}{{ current_tags | first }}{% endcapture %}
        {% comment %}ly_i18n_replace_for_[ 'collections.sidebar.all_tags' | t | link_to_remove_tag: first_tag ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.sidebar.all_tags' | t | link_to_remove_tag: first_tag }}{% endcapture %}{% include 'ly-static-string' with '16756505' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | link_to_remove_tag: first_tag }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
      </li>
      {% for tag in collection.all_tags %}
        {% if current_tags contains tag %}
          <li class="collection-nav--active">
            {{ tag | link_to_remove_tag: tag }}
          </li>
        {% else %}
          <li>
            {% comment %}
              Use link_to_add_tag if you want to allow filtering
              by multiple tags
            {% endcomment %}
            {{ tag | link_to_tag: tag }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endif %}
