{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{%- assign product_img_url = product.featured_image.src | img_url: '700x' -%}
{%- if grid_width_large == 'large--one-whole' -%}
  {%- assign product_img_url = product.featured_image.src | img_url: '1200x' -%}
{%- elsif grid_width_large == 'large--one-half' -%}
  {%- assign product_img_url = product.featured_image.src | img_url: '900x' -%}
{%- endif -%}

{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
  {%- assign on_sale = true -%}
{%- endif -%}

{%- assign sold_out = true -%}
{%- if product.available -%}
  {%- assign sold_out = false -%}
{%- endif -%}

{%- assign new_product = false -%}
{%- assign published_date = product.published_at | date: "%s"  -%}
{%- assign now_date = 'now' | date: "%s" -%}
{%- assign age_in_days = now_date | minus: published_date | divided_by: 60 | divided_by: 60 | divided_by: 12 -%}
{%- if age_in_days < settings.tag_new_limit -%}
  {%- assign new_product = true -%}
{%- endif -%}

{%- assign sellout_tag = false -%}
{%- if sold_out and settings.tag_sale -%}
  {%- assign sellout_tag = true -%}
{%- endif -%}

{%- assign new_tag = false -%}
{%- if new_product and settings.tag_new -%}
  {%- assign new_tag = true -%}
{%- endif -%}

{%- assign sale_tag = false -%}
{%- if on_sale and settings.tag_sale -%}
  {%- assign sale_tag = true -%}
{%- endif -%}

{%- assign tagged = false -%}
{%- if sellout_tag or new_tag or sale_tag -%}
  {%- assign tagged = true -%}
{%- endif -%}

{%- capture sticker -%}
  {%- if tagged %}
    {%- if sellout_tag -%}
      <div class="sticker sticker--sold">{% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t }}{% endcapture %}{% include 'ly-static-string' with '16756538' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</div>
    {%- elsif sale_tag -%}
      <div class="sticker sticker--sale">{% comment %}ly_i18n_replace_for_[ 'products.product.sale' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sale' | t }}{% endcapture %}{% include 'ly-static-string' with '16756539' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</div>
    {%- elsif new_tag -%}
      <div class="sticker sticker--new">{% comment %}ly_i18n_replace_for_[ 'products.product.new' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.new' | t }}{% endcapture %}{% include 'ly-static-string' with '16756540' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</div>
    {%- endif -%}
  {%- endif -%}
{%- endcapture -%}

<div class="grid__item {{ grid_offset }} {{ grid_width_small }} {{ grid_width_medium }} {{ grid_width_large }}{% if on_sale %} on-sale{% endif %}{% if tagged %} tagged{% endif %} product-grid-item">
{% if product.images[1].src %}
  <a href="{{ product.url | within: collection }}" class="grid__image double__image">
    <img src="{{ product.featured_image.src | img_url: '900x' }}" alt="{{ product.featured_image.alt | escape }}" class="collection__image__top">
    <img src="{{ product.images[1].src | img_url: '900x' }}" alt="{{ product.featured_image.alt | escape }}" class="collection__image__bottom">
    {{ sticker }}
  </a>
{% else %}
  <a href="{{ product.url | within: collection }}" class="grid__image">
    <img src="{{ product.featured_image.src | img_url: '900x' }}" alt="{{ product.featured_image.alt | escape }}">
    {{ sticker }}
  </a>
{% endif %}
  <div class="figcaption {{ settings.product_grid_style }} {{ settings.collection_text_alignment | default: 'text-center' }}">
    <a href="{{ product.url | within: collection | capitalize }}">
      <p class="h6 name_wrapper">
        {% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
      </p>
      <p class="price_wrapper">
        <span class="price{% if on_sale %} on-sale{% endif %}">
          <!-- commented by mlveda-->
          {% comment %}
           {% if product.price_varies %}{% comment %}ly_i18n_replace_for_[ 'products.general.from' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.general.from' | t }}{% endcapture %}{% include 'ly-static-string' with '16756541' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} {% endif %}
          {% endcomment %}
          <span class="money">{{ product.price | money }}</span>
        </span>
        {% if sold_out %}
        <br /><em>{% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t }}{% endcapture %}{% include 'ly-static-string' with '16756538' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</em>
        {% endif %}
        {% if on_sale %}
        <span class="compare-at">
          <span class="money">{{ product.compare_at_price | money }}</span>
        </span>
        {% endif %}
        {% if product.metafields.spr.reviews %}
          <br />
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}
      </p>
    </a>
  </div>
</div>