{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<!-- /snippets/product-tabs.liquid -->

{%- assign tab_headings = "" -%}
{%- assign tab_contents = "" -%}
{% include 'ly-description' with product %}
{%- assign product_description_split = ly_translation | replace: '<p>[split]</p>', '[split]' | replace: '[split]', '' | replace: '<h6></h6>', '' -%}

{%- for block in section.blocks -%}
  {%- if block.type == "tab_description" -%}
    {% comment %}
      Replace the heading deliminator with a string that is highly unlikely to occur naturally [!ヽ(´ー｀)/!]
    {% endcomment %}
    {%- assign product_description_split = product_description_split | replace: '<h6>', '[!ヽ(´ー｀)/!]' |  replace: '</h6>', '[!ヽ(´ー｀)/!]' | split: '[!ヽ(´ー｀)/!]' -%}
    {%- for item in product_description_split -%}
      {% comment %}
        The zero item is the product description, after that tab headings are odd and contents are even.
      {% endcomment %}
      {%- assign odd_mod = forloop.index0 | modulo:2 -%}
      {%- if odd_mod == 0 -%}
        {%- unless forloop.index0 == 0 -%}
          {%- assign tab_contents = tab_contents | append: item | append: '[!ヽ(´ー｀)/!]' -%}
        {%- endunless -%}
      {%- endif -%}
      {%- if odd_mod == 1 -%}
        {%- assign tab_headings = tab_headings | append: item | append: '[!ヽ(´ー｀)/!]' -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- endfor -%}

{%- assign tab_headings = tab_headings | split: '[!ヽ(´ー｀)/!]' -%}
{%- assign tab_contents = tab_contents | split: '[!ヽ(´ー｀)/!]' -%}

<div class="product-tabs">
  <ul class="tabs product-tabs-title">
    {%- assign count = 0 -%}
    {% for block in section.blocks %}
      {%- if block.type == "tab_description" -%}
        {%- for item in tab_headings -%}
          <li class="tab-link tab-link-{{ count }}" data-tab="{{ count }}" {% if forloop.index0 == 0 %} data-block-id="{{ block.id }}" {{ block.shopify_attributes }}{% endif %}>{{ item }}</li>
          {%- assign count = count | plus: 1 -%}
        {%- endfor -%}
      {%- else -%}
        <li class="tab-link tab-link-{{ count }}" data-tab="{{ count }}" data-block-id="{{ block.id }}" {{ block.shopify_attributes }}>{{ block.settings.title }}</li>
        {%- assign count = count | plus: 1 -%}
      {%- endif -%}
    {% endfor %}
  </ul>
  {%- assign count = 0 -%}
  {% for block in section.blocks %}
    {%- if block.type == "tab_description" -%}
      {%- for item in tab_contents -%}
        <div class="rte tab-content tab-content-{{ count }}">
            {{ item }}
        </div>
        {%- assign count = count | plus: 1 -%}
      {%- endfor -%}
    {%- elsif block.type == "tab_page" -%}
      <div class="rte tab-content tab-content-{{ count }}">
        {% assign tab_page = pages[block.settings.raw_content] %}
        {% if tab_page.content != blank %}
          {% comment %}ly_code_replace_for_[ tab_page.content ]_begin{% endcomment %}{% include 'ly-content' with tab_page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
        {% else %}
          {% comment %}ly_i18n_replace_for_[ 'home_page.onboarding.no_content' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'home_page.onboarding.no_content' | t }}{% endcapture %}{% include 'ly-static-string' with '16756546' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
        {% endif %}
      </div>
      {%- assign count = count | plus: 1 -%}
    {%- else -%}
      <div class="rte tab-content tab-content-{{ count }}">
        {{ block.settings.raw_content }}
      </div>
      {%- assign count = count | plus: 1 -%}
    {%- endif -%}
  {% endfor %}
</div>


<div class="product-accordion">
  <div class="accordion">
    <!-- HC - Specific tab for each product - 01 May '18 -->
    <p class="accordion-toggle" data-block-id="tu-bolso">
      <ly-as-16756545>CARACTERÍSTICAS</ly-as-16756545>
      <!-- HC - Tabs changes - 25 Apr '18 -->
      <i class=""></i>
      <img class="hc-down" src="{% comment %}ly_asset_replace_for_['down.svg' | asset_url]_begin{% endcomment %}{% assign ly_asset = 'down.svg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">
    </p>

    <div class="rte accordion-content tu-bolso">
      {% for metafield in product.metafields['tu-bolso'] %}
        <p>
          {% case metafield.first %}

          {% when 'desc' %}
            {% comment %}ly_asset_replace_for_[ 'bullet.svg' | asset_url | img_tag ]_begin{% endcomment %}{% assign ly_asset = 'bullet.svg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | img_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
          {% when 'medidas' %}
            {% comment %}ly_asset_replace_for_[ 'size.svg' | asset_url | img_tag ]_begin{% endcomment %}{% assign ly_asset = 'size.svg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | img_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
          {% when 'peso' %}
            {% comment %}ly_asset_replace_for_[ 'weight.svg' | asset_url | img_tag ]_begin{% endcomment %}{% assign ly_asset = 'weight.svg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | img_tag }}{% comment %}ly_asset_replace_end{% endcomment %}

          {% endcase %}
          {{ metafield.last }}
        </p>
      {% endfor %}
    </div>
    <!-- End HC - 01 May '18 -->

    {%- for block in section.blocks -%}
      {%- if block.type == "tab_description" -%}
        {%- for item in tab_headings -%}
          <p class="accordion-toggle" {% if forloop.index0 == 0 %} data-block-id="{{ block.id }}" {{ block.shopify_attributes }}{% endif %}>
            {{item}}
            <!-- HC - Tabs changes - 25 Apr '18 -->
            <i class=""></i>
            <img class="hc-down" src="{% comment %}ly_asset_replace_for_['down.svg' | asset_url]_begin{% endcomment %}{% assign ly_asset = 'down.svg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">
          </p>
          <div class="rte accordion-content">
            {{ tab_contents[forloop.index0] }}
          </div>
    	{%- endfor -%}

      {%- else -%}
        <p class="accordion-toggle" data-block-id="{{ block.id }}" {{ block.shopify_attributes }}>
          {{ block.settings.title }}
          <!-- HC - Tabs changes - 25 Apr '18 -->
          <i class=""></i>
          <img class="hc-down" src="{% comment %}ly_asset_replace_for_['down.svg' | asset_url]_begin{% endcomment %}{% assign ly_asset = 'down.svg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">
        </p>
        <div class="rte accordion-content">
          <!-- HC - Tabs changes - 25 Apr '18 --uage
          <!-- HC - Tabs changes 2 - 11 May '18 -->
          {% assign tab_page = pages[block.settings.raw_content] %}
          {% if tab_page.content != blank %}
          {% comment %}ly_code_replace_for_[ tab_page.content ]_begin{% endcomment %}{% include 'ly-content' with tab_page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
          {% else %}
          {{ block.settings.raw_content }}
          {% endif %}
        </div>

    {%- endif -%}
    {%- endfor -%}
  </div>
</div>