{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<!-- /sections/blog.liquid -->
{% assign sidebar_enable = false %}
{% if blog.all_tags != blank and section.settings.tags %}
  {% assign sidebar_enable = true %}
{% endif %}

{% if sidebar_enable %}
  {% assign blog_grid = 'large--one-half' %}
{% else %}
  {% assign blog_grid = 'large--one-third' %}
{% endif %}


{% assign blog_pagination = 20 %}
{% if section.settings.layout == 'list' %}
  {% assign blog_pagination = 5 %}
{% endif %}
{% paginate blog.articles by blog_pagination %}

{% comment %}
  This template is also used for listing out articles of a specific tag.
  You can change layouts or styles by checking if current_tags is true.
{% endcomment %}
<div data-section-id="{{ section.id }}" data-section-type="blog">

  {% if section.settings.image %}
    <div class="homepage-image preventOverflow {{ section.settings.text_color }} {{ section.settings.image_height }}" id="FeaturedImage-{{ section.id }}" {% if section.settings.parallax %}data-img-src="{{ section.settings.image | img_url: '1800x' }}"{% endif %}>
      <div class="content--centered">
        <div class="text-center preventOverflowContent">

          {% if current_tags %}
            <h1 class="title--flex">{{ current_tags.first }}</h1>
          {% else %}
            <h1 class="title--flex">{% comment %}ly_code_replace_for_[ blog.title ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>
          {% endif %}
        </div>
      </div>
      <div class="image-overlay image-overlay-{{ section.settings.overlay_opacity }}"></div>
        <img src="{{ section.settings.image | img_url: '1400x' }}" alt="{% comment %}ly_code_replace_for_[ section.settings.image | default: blog.title ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ section.settings.image | default: ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}" class="responsive-wide-image" {% if section.settings.parallax %} style="opacity: 0;"{% endif %}/>
    </div>
  {% endif %}

  <div class="blog">
    <div class="wrapper page-margin">

      <div class="grid">
        {%- assign blog_layout = 'one whole' -%}
        {%- if sidebar_enable -%}
          {%- assign blog_layout = 'large--two-thirds' -%}
        {% elsif section.settings.layout == 'list' %}
          {%- assign blog_layout = 'large--two-thirds push--large--one-sixth' -%}
        {%- endif -%}
        <div class="grid__item {{ blog_layout }}">

          {% if current_tags %}
            <h4 class="title uppercase h4">{{ current_tags.first }}</h4>
            <hr class="hr--small">
          {% endif %}

          {% if section.settings.layout == 'list' %}
            {% for article in blog.articles %}
              <div class="blog__article">
                <header{% if article.image %} class="blog__article-header-image" style="background-image: url('{{ article.image | img_url: '1024x1024' }}');"{% endif %}>
                  <h2><a href="{{ article.url }}">{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></h2>
                  {% if section.settings.blog_show_meta %}
                    {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
                    {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}
                    <p class="accent">{% comment %}ly_i18n_replace_for_[ 'blogs.article.author_on_date_html' | t: author: author, date: date ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article.author_on_date_html' | t: author: author, date: date }}{% endcapture %}{% include 'ly-static-string' with '16756399' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = author %}{% assign ly_template = ly_template | replace: '[[author]]', replacement %}{% assign replacement = date  %}{% assign ly_template = ly_template | replace: '[[date]]', replacement %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
                  {% endif %}
                </header>
                <div class="rte blog__article__content">
                  {% comment %}ly_code_replace_for_[ article.excerpt_or_content ]_begin{% endcomment %}{% include 'ly-excerpt_or_content' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
                </div>
                <footer>
                  <ul>
                    {% if blog.comments_enabled? %}
                    <li>
                      <a class="blog__comments" href="{{ article.url }}#Comments">
                        <strong>{{ article.comments_count }}</strong>
                        <em>{% comment %}ly_i18n_replace_for_[ 'blogs.comments.comments_with_count' | t: count: article.comments_count ]_begin{% endcomment %}{% if article.comments_count  == 0 %}{% capture ly_template %}{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '16756401' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments_count  == 1 %}{% capture ly_template %}{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '16756400' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments_count  == 2 %}{% capture ly_template %}{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '16756401' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '16756401' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</em>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                  {% if settings.blog_show_tags %}
                    {% include 'tags-article' %}
                  {% endif %}
                </footer>
                <a class="btn btn--large btn--splash btn--full uppercase" href="{{ article.url }}">{% comment %}ly_i18n_replace_for_[ 'blogs.article.read_more' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article.read_more' | t }}{% endcapture %}{% include 'ly-static-string' with '16756404' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} →</a>
              </div>
            {% endfor %}
          {% else %}
            {% unless section.settings.image or current_tags %}
              <h4 class="title uppercase h4">{% comment %}ly_code_replace_for_[ blog.title ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h4>
              <hr class="hr--small">
            {% endunless %}
            <div class="grid-uniform">
              {% for article in blog.articles %}
                {% include 'article-grid-item' %}
              {% endfor %}
            </div>
          {% endif %}

          {% if paginate.pages > 1 %}
            <div class="text-center">
              {% include 'pagination-custom' %}
            </div>
          {% endif %}

        </div>

        {% if sidebar_enable %}
        <div class="grid__item large--one-third blog__sidebar">
          <h1 class="uppercase h4">{% comment %}ly_code_replace_for_[ blog.title ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>
          <a class="icon-fallback-text blog__rss" href="{{ blog.url }}.atom" title="{{ langify_shop_name }} RSS" target="_blank">
            <span class="icon icon-rss"></span>
            <span class="fallback-text"><ly-as-16756396>RSS</ly-as-16756396></span>
          </a>
          <hr class="hr--small">
          {% if blog.all_tags != blank %}
          <h5 class="uppercase h5">{% comment %}ly_i18n_replace_for_[ 'blogs.article.tags' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article.tags' | t }}{% endcapture %}{% include 'ly-static-string' with '16756405' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h5>
            {% for tag in blog.all_tags %}
              <a class="blog__tag" href="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}">{{ tag }}</a>
            {% endfor %}
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endpaginate %}


{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "list",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "list",
          "label": "List"
        }
      ]
    },
    {
      "type": "header",
      "content": "List layout"
    },
    {
      "type": "checkbox",
      "id": "blog_show_meta",
      "label": "Show date and author",
      "default": true
    },
    {
      "type": "header",
      "content": "Feature image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner image"
    },
    {
      "type":    "range",
      "id":      "overlay_opacity",
      "min":     0,
      "max":     100,
      "step":    5,
      "label":   "Image overlay opacity",
      "info":    "Increase contrast for legible text.",
      "default": 30
    },
    {
      "type": "select",
      "id": "text_color",
      "default": "homepage--white",
      "label": "Text color",
      "options": [
        { "value": "homepage--white", "label": "White"},
        { "value": "homepage--light", "label": "Light"},
        { "value": "homepage--splash", "label": "Accent"},
        { "value": "homepage--dark", "label": "Dark"}
      ]
    },
    {
      "type": "checkbox",
      "id": "parallax",
      "default": true,
      "label": "Enable parallax scroll"
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "checkbox",
      "id": "tags",
      "default": false,
      "label": "Show tags"
    }
  ]
}
{% endschema %}
