{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<!-- Version may 2018 -->
{%- assign collection = collections[section.settings.collection] -%}

{% case section.settings.grid %}
{% when 1 %}
{% assign grid_width_large = 'large--one-third push--large--one-third clear' %}
{% assign grid_width_medium = 'medium--one-half push--medium--one-quarter clear' %}
{% assign grid_width_small = 'small--one-whole' %}
{% when 2 %}
{% assign grid_width_large = 'large--one-half' %}
{% assign grid_width_medium = 'medium--one-half' %}
{% assign grid_width_small = 'small--one-half' %}
{% when 3 %}
{% assign grid_width_large = 'large--one-third' %}
{% assign grid_width_medium = 'medium--one-third' %}
{% assign grid_width_small = 'small--one-whole' %}
{% when 4 %}
{% assign grid_width_large = 'large--one-quarter' %}
{% assign grid_width_medium = 'medium--one-half' %}
{% assign grid_width_small = 'small--one-half' %}
{% when 5 %}
{% assign grid_width_large = 'large--one-fifth' %}
{% assign grid_width_medium = 'medium--one-third' %}
{% assign grid_width_small = 'small--one-half' %}
{% when 6 %}
{% assign grid_width_large = 'large--one-sixth' %}
{% assign grid_width_medium = 'medium--one-third' %}
{% assign grid_width_small = 'small--one-half' %}
    {% else %}
{% assign grid_width_large = 'large--one-quarter' %}
{% assign grid_width_medium = 'medium--one-half' %}
{% assign grid_width_small = 'small--one-half' %}
{% endcase %}

{%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

<div class="homepage-collection {{ section.settings.homepage_collection_color }}" data-section-id="{{ section.id }}" data-section-type="index-collection">
    <div class="wrapper">
        {% if section.settings.title != blank %}
            <h4 class="home__subtitle">{{ section.settings.title | escape }}</h4>
        {% endif %}
        <!--HC-Feature section style-03 May'18-->
        <div class="hc-uniform-left grid-uniform large--one-half medium--one-half small--one-whole left">
            <div class=" text-coll">
                <h4 class="home__subtitle"><span  class="width-80">{% comment %}ly_code_replace_for_[ collection.title | escape ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}</span></h4>
                <p class="p-b-5"><span class="width-80">{% comment %}ly_code_replace_for_[ collection.description | escape ]_begin{% endcomment %}{% include 'ly-description' with collection %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}</span></p>
                <p>
                    <a href="{{ collection.url }}" class="btn btn-miralos"><ly-as-16756424>MÍRALOS TODOS</ly-as-16756424></a>
                </p>
                <img src="{{ collection.image.src | collection_img_url: 'large' }}" class="img-coll"/>
            </div>
        </div>
        <div class="hc-uniform-right grid-uniform large--one-half medium--one-half small--one-whole left">
            <div class="grid-uniform{% if settings.image_autoheight_enable %} image_autoheight_enable{% endif %}">
                <div class="owl-carousel owl-theme">
                    {% for product in collection.products  limit: product_limit %}
                        <div class="hc-item">
                            {% include 'product-grid-item' %}
                        </div>
                    {% else %}
                        {% comment %}ly_asset_replace_for_[ 'theme-onboarding.css' | asset_url | stylesheet_tag ]_begin{% endcomment %}{% assign ly_asset = 'theme-onboarding.css' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | stylesheet_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
                        {% include 'onboarding-featured-products' %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if section.settings.show_view_all %}
            <div class="text-center">
                <a href="{{ collection.url }}" class="btn btn--clear uppercase">
                    {% comment %}ly_i18n_replace_for_[ 'collections.general.view_all' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.general.view_all' | t }}{% endcapture %}{% include 'ly-static-string' with '16756425' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
                </a>
            </div>
        {% endif %}
    </div>
</div>

{% schema %}
    {
    "name": "Featured Slider",
    "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Heading",
    "default": "Featured Products"
    },
    {
    "id": "collection",
    "type": "collection",
    "label": "Collection"
    },
    {
    "type":    "range",
    "id":      "grid",
    "min":     1,
    "max":     6,
    "step":    1,
    "label":   "Products per row",
    "default": 3
    },
    {
    "type":    "range",
    "id":      "rows",
    "min":     1,
    "max":     8,
    "step":    1,
    "label":   "Number of rows",
    "default": 1
    },
    {
    "type": "select",
    "id": "homepage_collection_color",
    "label": "Background color",
    "default": "homepage--white",
    "options": [
    { "value": "homepage--white", "label": "White"},
    { "value": "homepage--light", "label": "Light"},
    { "value": "homepage--splash", "label": "Accent"},
    { "value": "homepage--dark", "label": "Dark"}
    ]
    },
    {
    "type": "checkbox",
    "id": "show_view_all",
    "label": "Show 'View all' button",
    "default": false
    }
    ],
    "presets": [
    {
    "name": "Featured Slider",
    "category": "Collection"
    }
    ]
    }
{% endschema %}
