{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="header__wrapper" data-section-id="{{ section.id }}" data-section-type="header">

  <div class="info-bar showMobile" id="header__wrapper__info-bar-id">
    <div id="header__wrapper2__info-bar-id" class="wrapper text-center">

        {% if shop.customer_accounts_enabled and section.settings.header_enable_account %}
          <div class="header-account-link">
            <a href="/account">
              <img src="{% comment %}ly_asset_replace_for_[ 'account.svg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'account.svg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">
            </a>
          </div>
        {% endif %}

        {% if section.settings.header_message != '' %}
          <div class="header-message uppercase{% if section.settings.header_enable_account or section.settings.header_enable_search %} header-message--crowded{% endif %}">
              {% if section.settings.header_message_url != blank %}
                <a href="{{ section.settings.header_message_url }}">
                  <span>{{ section.settings.header_message | escape }}</span>
                </a>
              {% else %}
                <!-- On est dans ce if : ENVÍO EXPRESS GRATUITO 48-72 HORAS/ PEDIDO MÍNIMO 49€. -->
                <span class="to-show-more">{{ section.settings.header_message_toShow | escape }}</span>
                <span>{{ section.settings.header_message | escape }}</span>
                <span> <!-- TODO: Remplacer par texte approprie (fait par ly_asset). -->
                    {% include 'ly-content' with page %}
                    {{ ly_translation }}
                  <!-- -->
                    {% comment %}ly_code_replace_for_[ page.content ]_begin{% endcomment %}{% include 'ly-content' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
          </span>

              {% endif %}
          </div>
        {% endif %}

      <!--
      {% if section.settings.header_enable_search %}
        <div class="header-search__wrapper">
          <div class="header-search">
            <form action="/search" method="get" class="input-group search" role="search">
              {% if section.settings.search_only_products %}<input type="hidden" name="type" value="product">{% endif %}
              <input class="search-bar" type="search" name="q">
              <button type="submit" class="btn search-btn"></button>
            </form>
          </div>
        </div>
      {% endif %}
      -->

      <div class="langify-wrapper">
          {% include 'ly-languages-switcher' %}
      </div>

    </div>
  </div>
    {% if section.settings.header_enable_account or section.settings.header_enable_search or section.settings.header_message != '' %}
    {% endif %}

  <header class="site-header {{ section.settings.height }}" role="banner">
    <div class="wrapper">
      <div class="nav--desktop">
          {% include 'nav-contents' with 'desktop' %}
      </div>
      <div class="nav--mobile">
          {% include 'nav-contents' with 'mobile' %}<!-- Dans snippets -->
      </div>
    </div>
  </header>
</div>

<script>
    // document.getElementById("header__wrapper2__info-bar-id").style.display = "none";
    // Je l'ai enlevé parce que prb / header avec ff
    /*$.get("https://api.ipdata.co?api-key=test", function (response) {
        if (response.country_code !== "ES") {
            document.getElementById("header__wrapper__info-bar-id").style.display = "none";
        }
    }, "jsonp");*/
</script>

{% schema %}
  {
  "name": "Header",
  "settings": [
  {
  "type": "image_picker",
  "id": "logo",
  "label": "Logo image"
  },
  {
  "type":    "range",
  "id":      "logo_max_limit",
  "min":     5,
  "max":     495,
  "step":    5,
  "unit":    "px",
  "label":   "Custom logo width",
  "default": 250
  },
  {
  "type": "link_list",
  "label": "Menu",
  "id": "main_menu_linklist"
  },
  {
  "type": "select",
  "label": "Height",
  "id": "height",
  "default": "header--medium",
  "options": [
  { "value": "header--small", "label": "Small"},
  { "value": "header--medium", "label": "Medium"},
  { "value": "header--large", "label": "Large"},
  { "value": "header--xl", "label": "Extra Large"}
  ]
  },
  {
  "type": "header",
  "content": "Meganav image"
  },
  {
  "type": "image_picker",
  "id": "meganav_image",
  "label": "Meganav image",
  "info": "500 x 800px .jpg max"
  },
  {
  "type": "url",
  "id": "meganav_link",
  "label": "Meganav Image Link"
  },
  {
  "type": "header",
  "content": "Top Bar"
  },
  {
  "type": "text",
  "id": "header_message_toShow",
  "label": "Announcement text purple",
  "info": "20 characters or less recommended"
  },
  {
  "type": "text",
  "id": "header_message",
  "label": "Announcement text",
  "info": "20 characters or less recommended"
  },
  {
  "type": "url",
  "id": "header_message_url",
  "label": "Announcement link"
  },
  {
  "type": "checkbox",
  "id": "header_enable_account",
  "default": true,
  "label": "Show account link in header"
  },
  {
  "type": "checkbox",
  "id": "header_enable_search",
  "default": true,
  "label": "Show search in header"
  },
  {
  "type": "checkbox",
  "id": "search_only_products",
  "label": "Only search products"
  }
  ]
  }
{% endschema %}
