{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% layout none %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="modern" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <title>
      {{ langify_shop_name }}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    {% if settings.favicon_enable %}
    <link rel="shortcut icon" href="{% comment %}ly_asset_replace_for_[ 'favicon.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'favicon.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" type="image/png" />
    {% endif %}

    {% include 'social-meta-tags' %}

    {{ content_for_header }}

    {% if template contains 'customers' %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}

    <!-- CSS ================================================== -->
    {% comment %}ly_asset_replace_for_[ 'style.scss.css' | asset_url | stylesheet_tag ]_begin{% endcomment %}{% assign ly_asset = 'style.scss.css' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | stylesheet_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
    {% include 'fonts' %}

    <!-- JS ================================================== -->
    {% comment %}ly_asset_replace_for_[ 'modernizr.min.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'modernizr.min.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}

    <!-- jQuery v2.2.3 ======================================================== -->
    {% comment %}ly_asset_replace_for_[ 'jquery.min.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'jquery.min.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}

  </head>

  <body class="template-password">
    {% section 'password' %}
  </body>
</html>
